<div class="product-collection-navigation">
	<div class="collection-title">
		<h3><!-- ko text: $t(collectionName) + ' Collection' --><!-- /ko --></h3>
	</div>
	<div class="collection-products-container">
		<div class="collection-products" data-bind="foreach: products">
			<div class="collection-product-item">
				<a data-bind="attr: { href: url, title: name }">
					<img class="collection-product-image" data-bind="attr: { src: image, alt: name }" />
					<span class="collection-product-color-name" data-bind="text: colorName"></span>
					<!-- ko if: tileSize -->
					<span class="collection-product-size" data-bind="text: tileSize"></span>
					<!-- /ko -->
				</a>
			</div>
		</div>
	</div>
</div>